<!DOCTYPE html>
<html lang="{{ .Language.Locale }}" {{ if eq (default "light" (index (split (default "light" "") "") 0)) "dark" }}class="dark"{{ end }}>
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <div class="brutal-layout">
    {{- partial "header.html" . -}}
    
    <div class="content-wrapper">
      <main>
        {{- block "main" . }}{{ end -}}
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </div>

  {{ $themeJS := resources.Get "js/theme-toggle.js" | minify | fingerprint }}
  <script src="{{ $themeJS.RelPermalink }}" defer></script>
</body>
</html>
